body{
	background-color: #232323;
	font-family: "Avenir";
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 20%;
	transition: background 0.3s;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
}

.container {
	max-width: 600px;
	margin: 20px auto;
}

h1 {
	color: white;
	text-align: center;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100$;
	font-weight: 700;
	color: steelblue;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

#victory {
	color: steelblue;
	display: inline-block;
	width: 20%;
}

#colordisplay {
	font-size: 1.5em;
}



#stripe {
	background-color: white;
	text-align: center;
}

.selected {
	color: white;
	background: steelblue;
}

.clicked {
	background: steelblue;
}